button {
    border: none;
    //background: #0086ae;
    box-shadow: none;
    padding: .5rem;
    font-size: 1rem;
    color: #ffffff;
    display: block;
    text-align: left;
    margin-bottom: 1rem;
    //"#FBA22D", "#10b798", "#e16479", "#6c468e", "#0086ae", "#005198"
}