

.siteTitle {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 1rem;
}

.mainnNav {
    min-height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
}

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: $white;
  }