

.site-title {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    grid-column: 1 / 6;
    @include bp-tablet {
        grid-column: 1 / 11;
    }
}

.site-nav {
    min-height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
}

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: $white;

  }