<!doctype html>
<html lang="en" dir="ltr">
<head> 
    <meta http-equiv="Content-Language" content="en">
    <title>Animation is Fun!</title>
    <link href="https://fonts.googleapis.com/css?family=KoHo|Lato:300,700" rel="stylesheet">
    <link rel="stylesheet" href="./app.css">
</head>