<!doctype html>
<html lang="en" dir="ltr">
<head> 
    {{> partials/header}}
</head>

<body class="{{bodyclass}}">
    {{> partials/nav}}
    {{> partials/main}}
</body>
<script src="app.bundle.js"></script>
</html>