<section class="region-hero">
    <div class="maxwidth region-padding">
        <h3 class="h3"><i class="far fa-address-card"></i>About what?</h3>
        <div class="twocolumn">
            <div class="region region1">
                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vel ipsum luctus,
                    sagittis
                    ante sollicitudin, porta tortor. Pellentesque cursus eget felis quis rhoncus. Donec ac
                    massa id
                    lorem rhoncus hendrerit.</p>
                <p>In consectetur sagittis sapien sit amet iaculis. Sed a lorem nec purus tempus euismod. Duis
                    eleifend congue ultricies. Sed est risus, egestas eu odio id, hendrerit porta velit. Mauris
                    porttitor
                    faucibus eros, at cursus arcu ornare ut. </p>
            </div>
            <div class="region region2">
                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vel ipsum luctus,
                    sagittis.</p>
                <section class="callout">
                    <h4 class="h4"><i class="fas fa-info-circle"></i>Lorem ipsum dolor sit amet:</h4>
                    <ul>
                        <li>Lorem ipsum </li>
                        <li>Dolor sit amet</li>
                        <li>Smet</li>
                    </ul>
                </section>
            </div>
        </div>
    </div>
</section>