
<section class="col1-6">
<h3 class="h3 col1-6"><i class="far fa-address-card"></i>About</h3>
    <p> This is my playground for testing out APIs/Services/Librarys in a sandbox environment.  This is a NO frameworks zone. First, understand the tool,
        then fold it into a framework.
    </p>

</section>
<section class="col5-11">
    <div class="callout">
        <h4 class="h4"><i class="fas fa-info-circle"></i>Lorem ipsum dolor sit amet:</h4>
        <ul>
            <li>Lorem ipsum </li>
            <li>Dolor sit amet</li>
            <li>Smet</li>
        </ul>
    </div>
</section>
<section class="col1-11">
    <p> Achievers have an enabling attitude, realism, and a conviction that they themselves were the laboratory of innovation. 
        Their ability to change themselves is central to their success. They have learned to conserve their energy by minimizing 
        the time spent in regret or complaint. Every event is a lesson to them, every person a teacher. </p>
    <p>-- Marilyn Ferguson </p>
</section>
