
<section class="col1-5">
<h3 class="h3 col1-5"><i class="far fa-address-card"></i>About what?</h3>

    <p> Achievers have an enabling attitude, realism, and a conviction that they themselves were the laboratory of innovation. 
        Their ability to change themselves is central to their success. They have learned to conserve their energy by minimizing 
        the time spent in regret or complaint. Every event is a lesson to them, every person a teacher. </p>
    <p>-- Marilyn Ferguson </p>
</section>
<section class="col5-10">
    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vel ipsum luctus,
        sagittis.</p>
    <div class="callout">
        <h4 class="h4"><i class="fas fa-info-circle"></i>Lorem ipsum dolor sit amet:</h4>
        <ul>
            <li>Lorem ipsum </li>
            <li>Dolor sit amet</li>
            <li>Smet</li>
        </ul>
    </div>
</section>
