<section class="region-hero">
    <div class="maxwidth region-padding">
        <div class="twocolumn">
            <div class="region region1">
                <canvas class="mycanvas" aria-hidden="true"></canvas>
                <div class="region-padding info hideMe">
                    <p><i class="fas fa-info-circle"></i>The temporal lobe consists of structures that are vital for
                        declarative or long-term memory.</span></p>
                </div>
            </div>
            <div class="region region2">
                <div class="region region1">
                    <h3 class="h3"><i class="far fa-lightbulb"></i>What's on your mind?</h3>
                    <p>This brain is constructed with Blender and rendered with Three.js. The model was exported
                        with
                        the glft exporter and all the lights, camera, and materials are setup with three.js. It
                        uses a
                        cube map for reflections and a directional light for the highlights. There's an ambient
                        light
                        for the fill and secondary colors.</p>
                    <p>My purpose in this peice was to revisit my roots in 3D animation and see what I could create
                        utilizing WebGL.</p>
                    <section class="callout">
                        <h4 class="h4"><i class="fas fa-info-circle"></i>Tools Used:</h4>
                        <ul>
                            <li>Blender</li>
                            <li>Three.js</li>
                            <li>Javascript</li>
                        </ul>
                    </section>
                </div>
            </div>
        </div>
    </div>
</section>