<canvas class="col1-6 tree" aria-hidden="true"></canvas>
<div class="col5-11">
    <h3 class="h3"><i class="fas fa-tree"></i>TODO: figmaapi</h3>
    <p>Change an assets using figma file with the figma api.</p>
    <p></p>
    <section class="callout">
        <h4 class="h4"><i class="fas fa-info-circle"></i>Tools Used:</h4>
        <ul>
            <li>Figma API</li>
            <li>Figma Components</li>
        </ul>
    </section>
</div>