<header class="siteTitle">
    <h1 class="h1"><strong>Creativity</strong> is <span class="">contagious</span>, pass it on.</h2>
    
    <nav class="mainnNav stickyHeader">
        <a href="/" class="btn-mainnav"><i class="far fa-address-card"></i>About</a>
        <a href="work" class="btn-mainnav"><i class="far fa-file-code"></i>Work</a>
        <a href="fun" class="btn-mainnav"><i class="far fa-paper-plane"></i>Fun</a>
    </nav>
</header>
