<header class="site-title">
    <h1 class="h1"><strong>Creativity</strong> is <span class="">contagious</span>, pass it on.</h2>
    
    <nav class="site-nav sticky-header">
        <a href="/" class="nav-site-btn"><i class="far fa-address-card"></i>About</a>
        <a href="work" class="nav-site-btn"><i class="far fa-file-code"></i>Work</a>
        <a href="fun" class="nav-site-btn"><i class="far fa-paper-plane"></i>Fun</a>
    </nav>
</header>
