<canvas class="col1-5 tree" aria-hidden="true"></canvas>
<div class="col5-10">
    <h3 class="h3"><i class="fas fa-tree"></i>Next up, weatherforcast!</h3>
    <p>Show the weather forcast.</p>
    <p></p>
    <section class="callout">
        <h4 class="h4"><i class="fas fa-info-circle"></i>Tools Used:</h4>
        <ul>
            <li>Openweathermap API</li>
        </ul>
    </section>
</div>