

.region-hero {
    min-height: calc(100vh - 14rem);
    padding-bottom: 2rem;
}
.region-content{
    padding: 2rem 0;
}

.region-padding {
    padding: 1rem 2rem;
}


.maxwidth {
    max-width: 1024px;
    margin: 0 auto;
}
